@import url(https://fonts.googleapis.com/css?family=Poppins);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    background-color: #f5f5f5;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    justify-content: center;
}

.back-button {
    background: none;
    border: none;
    font-size: 24px;
    color: rgb(0, 0, 0);
    margin-right: 10px;
    cursor: pointer;
}

h1 {
    font-size: 24px;
    color: #f39c12;
}

.add-product {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.add-product h2 {
    font-size: 20px;
    color: #f39c12;
    margin-bottom: 15px;
}

form input[type="text"],
form input[type="number"],
form input[type="file"],
form select,
form select option{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.image-upload-label {
    display: inline-block;
    padding: 10px 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #f39c12;
    font-size: 16px;
    cursor: pointer;
}

.add-button {
    background-color: #f39c12;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.add-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #ff6600;
    color: #fff;
    font-size: 18px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  }

.product-list {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    padding: 20px 0;
}

.product-card {
    background-color: #fff;
    width: 200px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card img {
    width: 100%;
    height: auto;
}

.product-info {
    padding: 15px;
    text-align: center;
}

.product-info p {
    margin: 5px 0;
    color: #333;
}

.price {
    font-weight: bold;
    color: #f39c12;
}

.category {
    font-weight: bold;
    color: #f39c12;
}

.product-actions {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.delete-button,
.view-button {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
}
.stock-button {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
}

.delete-button {
    background-color: #e74c3c;
}

.view-button {
    background-color: #f39c12;
}

.stock-button {
    background-color: lightgreen;
}
