@import url(https://fonts.googleapis.com/css?family=Poppins);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    text-decoration: none;
  }
  
  body {
    background-color: #f5f5f5;
  }
  
  .header {
    display: flex;
    align-items: center;
    padding: 10px 0;
    background-color: #fff;
    justify-content: center;
  }
  
  .logo img {
    width: 40px;
  }
  
  .search-bar {
    margin: 0 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
  }
  
  .icons {
    display: flex;
    gap: 10px;
  }
  
  .icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  
  h2 {
    margin-top: 20px;
    font-size: 1.5em;
  }

 .category-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    overflow-x: auto;
    padding: 20px 0;
    gap: 15px;
    justify-content: center;
  }

  .button-card{
    background-color: #ff6600; 
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    width: 150px;
    opacity: 0.6;
    transition: 0.3s;
  }

  .button-card:hover{
    opacity: 1
  }

  #profile-text {
    text-decoration: none;
    color: black;
  }

  #profile-text:hover {
    color: #e74c3c;
  }
  
  .product-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    overflow-x: auto;
    padding: 20px 0;
    gap: 15px;
    justify-content: center;
  }
  
  .product-container::-webkit-scrollbar {
    height: 8px;
  }
  
  .product-container::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
  }
  
  .product-card {
    position: relative;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 150px;
    padding: 10px;
    text-align: center;
    flex-shrink: 0;
  }
  
  .product-card img {
    width: 100%;
    border-radius: 5px;
  }
  
  .product-card p {
    margin-top: 10px;
    font-size: 14px;
    color: black;
  }

  .product-card a{
    text-decoration: none;
  }
  
  .price{
    text-align: left;
    color: #e74c3c;
    font-weight: bold;
  }

  .add-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #ff6600;
    color: #fff;
    font-size: 18px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: none;
    text-decoration: none;
    border-width: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  